#video_section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .video_section__container {
	padding: 0 10px;
	display: flex;
	justify-content: space-between;

	.video_elem {
	    min-width: 450px;
	    height: 250px;
	    border-radius: 5px;
	    background-color: var(--main-dark-color);
	    overflow: hidden;
	}
    }
}
