#video_section {
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;

	.video_section__container {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;

		.video_elem {
			min-width: 400px;
			height: 250px;
			margin: 0 25px;
			border-radius: 10px;
		}
	}

	
}
