.press_unit {
    width: 300px;
    height: 110px;
    padding: 10px;
    box-shadow: 0px 0px 3px 1px gray;
    border-radius: 5px;
    text-decoration: none;
    color: var(--main-text-color);
    transition: .1s;
    overflow: hidden;

    &__head {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	&-img {
	    max-width: 50px;
	}

	&-date {
	    font-family: var(--main-font);
	    font-size: .9rem;
	}
    }

    &__title {
	height: 40px;
	display: block;
	font-size: 1rem;
	font-family: var(--content-font);
	overflow: hidden;

    }

    &:hover {
	box-shadow: 0 0 3px 1px var(--main-dark-color);
    }
}
