#home_page {
    max-width: 1728px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .section_title {
	text-align: center;
	text-decoration: underline;
    }
}
