#blog_page {
    max-width: 1728px;
    margin: auto;
    padding: 0 10px;

    .blog_page__grid {
        margin: 70px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
}
