.section_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: loaded;
    animation-duration: .5s;
}

@keyframes loaded {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
