.video_item {
    width: 100%;
    border-radius: 5px;

    input {
        display: none;
    }

    &__label {
        height: 75px;
        width: 100%;
        margin: 3px 0;
        padding: 0 15px;
        display: flex;
        align-items: center;
        font-family: var(--content-font);
        font-size: 1.1rem;
        background-color: var(--main-light-color);
        border-radius: 5px;
        box-shadow: 0 0 1px 2px gray;
        transition: .1s;
        cursor: pointer;
        overflow: hidden;
    }

    &__img {
        margin-right: 20px;
    }

    input:checked + label {
        background-color: var(--main-dark-color);
        color: var(--main-light-color);
        box-shadow: inset 0px 0px 3px 2px black;
    }
}
