#home_page__grid {
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: .7fr 2fr;
	grid-template-areas: "news blog blog"
						 "news blog blog"
						 "news video video";
	row-gap: 30px;
	column-gap: 20px;

	#news_section {
		grid-area: news;
	}
	#blog_section {
		grid-area: blog;
	}
	#video_section {
		grid-area: video;
	}
}