.section_button {
    display: flex;
    align-items: center;
    color: var(--main-text-color);
    text-decoration: none;

    p {
        font-family: var(--main-font);
        font-size: .9rem;
        border-bottom: solid 1px var(--main-dark-color);
    }
}
