.last_blog_post {
    max-width: 1080px;
    height: 355px;
    padding: 10px;
    display: flex;
    align-items: center;

    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px gray;


    &__img {
        width: 50%;
        height: 100%;
        margin-right: 30px;
        display: block;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__info {
        width: 50%;
        height: 90%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow: hidden;

        &-title {
            margin-bottom: 10px;
            font-family: var(--main-font);
            font-size: 28px;
            color: black;
            text-decoration: none;
        }
        &-title:hover {
            text-decoration: underline;
        }

        &-date {
            margin-bottom: 10px;
            font-family: var(--main-font);
            font-size: 14px;
        }

        &-intro {
            font-family: var(--content-font);
            font-size: 18px;
            overflow: hidden;
        }
    }
}

.last_blog_post.clipped {
    max-width: 500px;
    height: 100%;
    padding: 0;
    flex-direction: column;

    .last_blog_post__img {
        width: 100%;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .last_blog_post__info {
        width: 100%;
        justify-content: start;

        &-title {
            font-size: 24px;
        }
        &-intro {
            height: 100px;
            overflow: hidden;;
        }
    }
}