.last_blog_post {
    width: 100%;
    max-width: 1100px;
    height: 40vw;
    max-height: 350px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 3px 2px gray;
    overflow: hidden;

    &__img {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__info {
        width: 50%;
        height: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        &-title {
            font-family: var(--main-font);
            font-size: 1.6rem;
            color: var(--main-text-color);
            text-decoration: none;
        }
        &-title:hover {
            text-decoration: underline;
        }

        &-date {
            margin-bottom: 10px;
            font-family: var(--main-font);
            font-size: 1rem;
        }

        &-intro {
            font-family: var(--content-font);
            font-size: 1rem;
            text-align: justify;
            overflow: hidden;
        }
    }
}


@media screen and (max-width: 576px) {
    .last_blog_post {
        width: 90%;
        height: 100%;
        padding: 0;
        max-height: none;
        flex-direction: column;

        &__img {
            width: 100%;
        }

        &__info {
            width: 100%;
            padding: 10px;
        }
    }
}
