.last_blog_post {
	max-width: 450px;
	height: 565px;
	box-shadow: 5px 5px 3px gray;

	.last_blog_post__img {
		margin-bottom: 35px;
		display: block;

		img {
			width: 100%;
		}
	}

	.last_blog_post__info {
		padding: 0 10px;

		&-title {
			font-family: var(--main-font);
			font-size: 24px;
			color: black;
			text-decoration: none;
		}
		&-title:hover {
			text-decoration: underline;
		}

		&-date {
			margin-bottom: 20px;
			font-family: var(--main-font);
			font-size: 14px;
		}

		&-intro {
			font-family: var(--content-font);
			font-size: 18px;
		}
	}
}
