#footer {
	width: 100%;
	height: auto;
	padding: 20px 0;
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
	background-color: black;

	.footer_gear__1,
	.footer_gear__2 {
		position: absolute;
	}

	.footer_gear__1 {
		left: 0;
		bottom: 0;
	}
	.footer_gear__2 {
		right: 0;
		top: 0;
		transform: rotate(180deg);
	}
}

.footer_container {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__logo {
		margin-bottom: 15px;
	}

	h5 {
		font-family: var(--head-font);
		font-size: 28px;
	}

	p {
		font-family: var(--head-font);
		font-size: 24px;
		text-decoration: underline;
	}
}

.community_container {
	margin-top: 15px;
	display: flex;
	align-items: center;
		
	&__item {
		width: 40px;
		height: auto;
		margin: 0 15px;		
	}
}