#blog_section {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;

    .blog_section__container {	
	width: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;
    }

    .last_blog_post {
	width: 100%;
    }

    .recent_posts {
	width: 100%;
	display: flex;
	gap: 10px;
	align-items: center;

	.blog_post {
	    height: 100%;

	    &__img {
		height: auto;
		margin-bottom: 0;

		img {
		    width: auto;
		}
	    }

	    &__info {
		top: 0;
		left: 0;
		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;

		&-title {
		    max-height: 150px;
		    min-height: auto;
		    text-align: center;
		}

		&-date {
		    display: none;
		}

		&-content {
		    display: none;
		}
	    }

	    &:hover {
		.blog_post__info {
		    height: 100%;
		    visibility: visible;
		    opacity: 1;
		}
	    }
	}
    }
}

