#news_page {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: var(--main-text-color);

    .news_container {
	padding: 0 50px;
	display: flex;
	justify-content: center;
    }
}

.news_viewer {
    width: 70%;
    max-width: 850px;
    height: fit-content;
    padding: 15px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 1px gray;

    &__date {
        margin-bottom: 10px;
        font-family: var(--main-font);
        font-size: .8rem;
    }

    &__title {
        margin-bottom: 20px;
        font-family: var(--content-font);
        font-size: 1.8rem;
    }

    &__body {
        padding: 0 25px;
        text-align: justify;
	font-family: var(--content-font);
        font-size: 1.2rem;

        p {
            margin: 15px 0;
        }
    }
}

.news_list {
    width: 30%;
    max-width: 400px;
    align-self: start;
    grid-template-columns: 1fr;
    
    &__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 15px;
    }

}

@media screen and (max-width: 991px) {
    .news_viewer {
	margin-right: 25px;
	
	&__body {
	    padding: 0 5px;
	}
    }
}

@media screen and (max-width: 768px) {
    #news_page .news_container {
	padding: 0 25px;
	flex-direction: column-reverse;
	align-items: center;
    }

    .news_viewer {
	width: 100%;
	margin-right: 0;
    }

    .news_list {
	max-width: none;
	width: 100%;
	margin-bottom: 15px;
	
	&__container {
	    width: auto;
	    flex-direction: row;
	    overflow-x: scroll;
	    scrollbar-width: none;
	}
    }
}

