.video_container {
    height: 450px;
    padding: 0 10px;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;

    &__viewer {
        width: 65%;
        height: 100%;
        background-color: var(--main-dark-color);
        border-radius: 5px;
        box-shadow: 0 0 3px 1px gray;
        overflow: hidden;
    }
}

@media screen and (max-width: 991px) {
    .video_container {
        height: auto;
        padding: 0 30px;
        flex-direction: column;
        align-items: center;

        &__viewer {
            width: 100%;
            height: 50vw;
        }
    }

}

@media screen and (max-width: 768px) {
    .video_container {
        padding: 0 20px;

    }

    .video_item label {
        padding: 0 5px;
        height: 60px;
    }
}

@media screen and (max-width: 576px) {
    .video_container {
        padding: 0 10px;

        &__viewer {
            height: 60vw;
        }

    }
}
